<div class="px-4 sm:px-0 mx-auto">
  <header class="bg-white rounded border border-gray-300">
    <div class="flex flex-row items-center justify-between mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-xl font-bold tracking-tight text-gray-900">
        Category list
      </h1>
      <a
        class="hover:underline"
        href="/category/create"
        hx-get="/category/create"
        hx-push-url="true"
        >Add Category</a
      >
    </div>
  </header>

  <div
    class="max-w-md mt-3 mx-auto p-3 rounded-md bg-white border border-gray-300"
  >
    <ul role="list" class="divide-y divide-gray-300">
      <% categories.forEach(category => { %>
      <li class="flex flex-row items-center justify-between gap-x-6 p-2">
        <p class="text-sm font-semibold leading-6 text-gray-900">
          <%= category.name %>
        </p>
        <a
          class="hover:bg-gray-200 transition duration-200 rounded-full p-1 cursor-pointer"
          href="<%= category.url %>"
          hx-get="<%= category.url %>"
          hx-push-url="true"
        >
          <img
            class="w-5 h-5 pl-0.5"
            src="/images/chevron_right_FILL0_wght400_GRAD0_opsz48.svg"
            alt="Item Detail"
          />
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
